* {
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  /*color: #426b53;*/
  color: #2d592d;
  font-variant: small-caps;
  font-weight: 500;
}

body {
  background-color: #111;
}

.headline {
  margin-right: auto;
  margin-left: auto;
  margin-top: 64px;
  margin-bottom: 64px;
  width: 50%;
}

h1 {
  font-size: 700%;
  text-shadow: 4px 4px #000;
}

h2 {
  font-size: 700%;
  text-shadow: 4px 4px #000;
  margin: 10px;
}

h3 {
  font-size: 600%;
  text-shadow: 4px 4px #000;
  margin: 10px;
}

h4 {
  font-size: 500%;
  text-shadow: 4px 4px #000;
  margin: 10px;
}

.lone-pine {
  margin: 10px;
  font-size: 200%;
  text-shadow: 2px 2px #000;
}

video {
  width: 1000px;
  margin: 10px;
}

.icon {
  margin: 20px auto 10px auto;
  width: 64px;
  height: 64px;
  background-image: url("/img/lone-pine.png");
  background-repeat: no-repeat;
}

.atomized-link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 64px;
  margin-top: 64px;
  width: 80%;
  font-size: 0;
}
.atomized-link img {
  width: 100%;
}

.new-cities-link {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 64px;
  margin-top: 64px;
  width: 80%;
  cursor: pointer;
}
.new-cities-link img {
  width: 100%;
}

.new-cities-link-label {
  position: absolute;
  bottom: 0px;
  right: 16px;
  color: white;
  font-size: 700%;
  text-shadow: 4px 4px #000;
}

.new-cities {
  display: none;
}

.back-to-index {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 200%;
  cursor: pointer;
  text-shadow: 4px 4px #000;
}

