* {
  font-family: 'Comfortaa', sans-serif;
  text-align: center;
  color: #426b53;
  /*color: #2d592d;*/
  font-variant: small-caps;
  font-weight: 500;
}

body {
  background-color: #101010;
  image-rendering: pixelated;
  margin: 0px;
}

.headline {
  margin-top: 64px;
  margin-bottom: 64px;
}

.headline img {
  width: 256px;
}

h1 {
  font-size: 700%;
  text-shadow: 4px 4px #000;
}

h2 {
  font-size: 700%;
  text-shadow: 4px 4px #000;
  margin: 10px;
}

h3 {
  font-size: 600%;
  text-shadow: 4px 4px #000;
  margin: 10px;
}

h4 {
  font-size: 500%;
  text-shadow: 4px 4px #000;
  margin: 10px;
}

.lone-pine {
  margin: 10px;
  font-size: 200%;
  text-shadow: 2px 2px #000;
}

video {
  width: 1000px;
  margin: 10px;
}

.icon {
  margin: 20px auto 10px auto;
  width: 64px;
  height: 64px;
  background-image: url("/img/lone-pine.png");
  background-repeat: no-repeat;
}

.atomized-link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 64px;
  margin-top: 64px;
  width: 80%;
  font-size: 0;
}
.atomized-link img {
  width: 100%;
}

.look-up-link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 64px;
  margin-top: 64px;
  width: 40%;
  font-size: 0;
}
.look-up-link img {
  width: 100%;
}


.new-cities-link {
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 64px;
  margin-top: 64px;
  width: 80%;
  cursor: pointer;
}
.new-cities-link img {
  width: 100%;
  image-rendering: auto;
}

.new-cities-link-label {
  position: absolute;
  bottom: 0px;
  right: 16px;
  color: white;
  font-size: 700%;
  text-shadow: 4px 4px #000;
}

.lone-pine-link {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  vertical-align: center;
  font-size: 200%;

  font-family: 'Comfortaa', sans-serif;
  color: #426b53;
  text-shadow: 4px 4px #000;
  /*color: #2d592d;*/
  font-variant: small-caps;
  font-weight: 500;
  text-decoration: none;
}

.lone-pine-link img {
  vertical-align: middle;
  height: 100px;
}

.new-cities-headline {
  margin-top: 150px;
}

.social-media-links {
  margin-left: auto;
  margin-right: auto;
}

.social-media-links a {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 16px;
}

.social-media-links .twitter {
  background-image: url("/img/twitter.png");
}

.social-media-links .reddit {
  background-image: url("/img/reddit.png");
}

.social-media-links .mail {
  background-image: url("/img/mail.png");
}

.social-media-links .conor {
  background-image: url("/img/conor.png");
}

@media screen and (max-width: 1024px) {
  h1, h2, .new-cities-link-label {
    font-size: 400%;
  }

  h4 {
    font-size: 200%;
  }

  h3 {
    font-size: 150%;
  }

  video {
    width: 100%;
    margin: 0;
  }

  .social-media-links a {
    width: 32px;
    height: 32px;
  }
}

